*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

nav {
  background-color: #ffd9d9;   
  padding: 10px;             
  text-align: center;          
  border-radius: 8px; 
  margin-bottom: 1rem;
}

body{
    background: #ebf1fe;
    font-family: Arial, sans-serif;
}

.panel{
    background: #9cbbff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.panel h1{
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid;
    padding-bottom: 30px;
}

.quiz{
    padding: 20px 0;
}

.panel h2{
    font-size: 18px;
    font-weight: bold;
}

.btn{
   width: 100%;
   border: 1px solid;
   padding: 10px;
   margin: 10px 0;
   text-align: left;
   border-radius: 4px;
   cursor: pointer;
}

.buttonDifficulty{
    background: #9cbbff;
    font-weight: bold;
    margin: 20px;
    width: 150px;
    border: 0;
    padding: 15px 30px;
    margin: 20px auto 0;
    border-radius: 10px;
    cursor: pointer;
}

.difficulty{   
    display: flex;
    align-items: center;
}

.difficulty h2{
    color: #000000;
}

.buttonDifficulty:hover {
    background: #c3bcbc;
}

.btn:hover:not([disabled]){
    background: #c3bcbc;
}

.btn:disabled{
    cursor: no-drop;
}

#nextBtn{
    font-weight: bold;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

#backBtn{
    font-weight: bold;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct{
    background: #84dea2;
}

.incorrect{
    background: #f55656;
}






.table-container {
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      width: 800px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    thead {
      background: #fafafa;
      font-weight: bold;
      color: #222;
      border-bottom: 2px solid #e0e0e0;
    }
    th, td {
      padding: 14px 18px;
      text-align: left;
    }
    th {
      font-size: 15px;
      letter-spacing: 0.5px;
    }
    td {
      font-size: 16px;
      border-bottom: 1px solid #eee;
    }
    tr:nth-child(even) {
      background: #f9f9f9;
    }
    td.points {
      text-align: right;
      font-weight: bold;
    }
    td.position {
      width: 60px;
      text-align: center;
      font-weight: bold;
    }
    .header-row {
      background: #fafafa;
    }
